.news{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
}
.img img{
    width: 50vw;
}
.main{
    background-color: #eaf1f4;
}
.description{
    display: grid;
    height: 600px;
    grid-template-rows: 2fr 2fr 3fr;
    width: 400px;
}
.description a{
    text-decoration: none;
    color: rgba(29, 29, 32, 0.815);
    font-size: 18px;
}
.N1 {
    
}
.directions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
.seven{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 15px;
}
.seven img{
    height: 80px;
}
.dirBlock{
    background-color: white;
    height: 170px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dirBlock:hover{
    box-shadow: 1px 26px 61px -35px rgb(0 0 0 / 82%);
    opacity: 1;

}

.colorImg{
    opacity: 0;
    z-index: 2;
    position: relative;
}
.colorImg:hover{
    opacity: 1;
}
.grayImg{
    opacity: 1;
    z-index: 1;
    position: relative;
}
.dirBlock span{
    text-decoration: none;
    color:black;
    padding: 5px;
   
}
.fore{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
.fore img{
    height: 80px;
}
.banners{
    margin-top: 30px;
}
.hotlines{
    margin-left: 10vw;
    margin-right:10vw;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px
}
.hotlineBlock{
    
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.hotline{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 250px;
}
.hotline img{
    width: 120px;
    height: 120px;
    padding: 10px;
}
.hotlineText{
    padding: 10px;
    font-size: 20px;
}
.buttonHotl{
    cursor: pointer;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    height: 30px;
    padding-top: 15px;
    box-shadow: 5px 5px 5px 5px rgba(29, 29, 32, 0.815);
    margin-bottom: 30px;
    border-radius: 10px;
}
.buttonHotl:hover{
    background-color: #404e6e;
    color: white;
}
.helpful{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 2fr;
    margin-left: 180px;
    margin-right: 180px;
}
.helpful img{
    height: 100px;
    max-width: 150px;
    cursor: pointer;
    opacity: 0.6;
}
.helpful img:hover{
    opacity: 1;
 }
 .foot a{
    text-decoration: none;
    color: #fff;
    opacity: .8;
 }